<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card do produto</title>
    <link rel="stylesheet" href="fonte.component.scss">
</head>
<body>
    <div class="body">
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "main-title">
                    <h1>Fonte</h1>
                </div>

                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a>Fonte</a></li>
                      </ul>
                    </div>
    
                <div class = "item-list">
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/113574/fonte-evga-supernova-750-ga-750w-80-plus-gold-modular-220-ga-0750-x_1597853318_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte EVGA SuperNOVA 750 GA, 750W, 80 Plus Gold, Modular - 220-GA-0750-X</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.199,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/113573/fonte-evga-supernova-750-g5-750w-80-plus-gold-modular-220-g5-0750-x_1597760437_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte EVGA SuperNOVA 750 G5, 750W, 80 Plus Gold, Modular - 220-G5-0750-X
                            </a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.199,90</span>
    
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/108080/fonte-corsair-rmx-white-series-850w-80-plus-gold-modular-branca-cp-9020188-ww_1575462079_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte Corsair RM850x 850W, 80 Plus Gold, Modular, Branco - CP-9020188-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.199,90</span>
                                <span class = "old-price">R$ 1.646,94</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/205558/fonte-corsair-rm750x-750w-80-plus-gold-modular-preto-cp-9020234-ww_1630961650_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte Corsair RM750X, 750W, 80 Plus Gold, Modular, Preto - CP-9020234-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 999,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/91027/91027_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte Corsair 750W 80 Plus Gold Semi Modular TX750M CP-9020131</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 899,99</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/156940/fonte-corsair-rm650x-650w-80-plus-gold-modular-preto-cp-9020198-ww_1628280785_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte Corsair RM650X, 650W, 80 Plus Gold, Modular, Preto - CP-9020198-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 849,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/205557/fonte-corsair-rm650x-650w-80-plus-gold-modular-preto-cp-9020233-ww_1630961486_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte Corsair RM650X, 650W, 80 Plus Gold, Modular, Preto - CP-9020233-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 849,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/103282/fonte-xpg-core-reactor-850w-80-plus-gold-modular_fonte-xpg-core-reactor-850w-80-plus-gold-modular_1571154124_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte XPG Core Reactor, 850W, 80 Plus Gold Modular</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 809,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128622/fonte-corsair-cx650f-650w-80-plus-bronze-totalmente-modular-rgb-cp-9020217-br_1601066066_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte Corsair CX650F, 650W, 80 Plus Bronze, Totalmente Modular, RGB - CP-9020217-BR</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 749,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128626/fonte-corsair-cx750f-750w-80-plus-bronze-totalmente-modular-rgb-branco-cp-9020227-br_1601298082_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Fonte Corsair CX750F, 750W, 80 Plus Bronze, Totalmente Modular, RGB, Branco - CP-9020227-BR</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 699,90</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
