<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>produtos</title>
    <link rel="stylesheet" href="monitor.component.scss">
</head>
<body>
    <div class="body">
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "main-title">
                    <h1>Monitores</h1>
                </div>
    
                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a>Monitor</a></li>
                      </ul>
                    </div>

                <div class = "item-list">
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/129919/monitor-gamer-samsung-odyssey-led-49-curvo-dqhd-hdmi-displayport-usb-g-sync-freesync-240hz-1ms-altura-ajustavel-lc49g95tsslxzd_1603130066_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer Samsung Odyssey G9 49' Curvo, 240 Hz, DQHD, 1ms, FreeSync Premium, HDR 1000, HDMI/DisplayPort, Ajuste de Altura - LC49G95TSSLXZD</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 10.999,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/131235/monitor-asus-gamer-rog-swift-dsc-43-polegadas-4k-uhd-144-hz-dsc-displayhdr-tuf-gaming-90lm05j0-b011x0_1605207602_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer Asus ROG Swift 43' LED, 144 Hz, 4K UHD, Adaptive Sync, HDR 1000, 90% DCI-P3, HDMI/DisplayPort, VESA, Som Integrado - PG43UQ</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 8.559,90</span>
    
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/148831/monitor-gamer-asus-pg259qnr-24-5-360hz-1ms-full-hd-ips-gsync-90lm05q3-b013x0_1614174556_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer Asus ROG Swift 24.5' IPS, 360 Hz, Full HD, 1ms, G-Sync, Nvidia Reflex, ROG Desk Mount Kit, HDR 10, HDMI/DisplayPort - PG259QNR</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 6.009,90</span>
                                <span class = "old-price">R$ 7.999,89</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128957/monitor-gamer-samsung-led-27-odyssey-curvo-wqhd-hdmi-display-port-freesync-240hz-1ms-altura-ajustavel-lc27g75tqslxzd_1601468714_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer Samsung Odyssey G7 27' LED, Curvo, Wide, 240 Hz, 2K QHD, 1ms, FreeSync Premium, HDR 600, HDMI/DisplayPort - LC27G75TQSLXZD</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 3.989,00</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/83539/83539_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer Acer 27 IPS, 165 Hz, 2K QHD, 0.4ms, G-Sync, 100% sRGB, HDMI/DisplayPort, Ajuste de Altura, Som Integrado - Predator XB271HU</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 3.719,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/148834/monitor-gamer-asus-vg279qr-27-165hz-1ms-fullhd-ips-gsync-compatible-ajuste-de-altura-90lm04g0-b023x0_1614179695_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer Asus TUF 27' IPS, 165 Hz, Full HD, 1ms, Adaptive Sync, HDMI/DisplayPort, Ajuste de Altura, Vesa, Som Integrado - VG279QR</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.299,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/180002/monitor-gamer-curvo-gamemax-27-led-full-hd-165hz-1ms-displayport-hdmi-freesync-preto-gmx27c165q_1626987050_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer Curvo Gamemax 27 LED WQHD, 165Hz, 1ms, DisplayPort/HDMI, HDR400, FreeSync, Preto - GMX27C165Q</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.199,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/117252/monitor-gamer-msi-lcd-27-curvo-full-hd-165hz-altura-ajustavel-mag270vc2_1597323933_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Gamer MSI LCD, 27´, Curvo, Full HD, 165Hz, Altura Ajustável - MAG270VC2</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.109,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/117251/monitor-samsung-led-31-5-curvo-hdmi-freesync-4-ms-inclinacao-ajustavel-lc32t550fdlxzd_1597340168_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Samsung 31.5' LED, Curvo, Full HD, HDMI/DisplayPort, VESA, Ajuste de Ângulo, FreeSync, Som Integrado - LC32T550FDLXZD</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.999,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/107190/monitor-philips-led-27-4k-uhd-ips-hdmi-displayport-276e8vjsb_monitor-philips-led-27-4k-uhd-ips-hdmi-displayport-276e8vjsb_1572615153_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Monitor Profissional Philips 27' IPS, 4k UHD, 109% sRGB, HDMI/DisplayPort - 276E8VJSB</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.919,90</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>



