<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card do produto</title>
    <link rel="stylesheet" href="cooler.component.scss">
</head>
<body>
    <div class="body">
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "main-title">
                    <h1>Cooler</h1>
                </div>

                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a>Cooler</a></li>
                      </ul>
                    </div>
    
                <div class = "item-list">
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/96821/cooler-fan-rise-120mm-verde-rm-fn-01-bg_1631275227_m.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Cooler FAN Rise 120mm Verde RM-FN-01-BG</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 22,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/33609/33609_index_m.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Cooler para Processador CoolerMaster Blizzard T2 AMD/Intel - RR-T2-22FP-R1</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 65,90</span>
    
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/114972/cooler-fan-deepcool-rf120-f2-120mm-rgb-dp-fled3-rf120-fs_1603738668_m.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Cooler FAN DeepCool RF120 F2, 120mm, RGB - DP-FLED3-RF120-FS</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 29,90</span>
                                <span class = "old-price">R$ 41,06</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128497/water-cooler-nzxt-kraken-z73-360mm-rl-krz73-01_1637345373_m.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Water Cooler NZXT Kraken Z73, 360mm - RL-KRZ73-01</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.089,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/156951/water-cooler-corsair-icue-h150i-elite-capellix-rgb-360mm-branco-cw-9060051-ww_1632250204_m.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Water Cooler Corsair iCUE H150i Elite Capellix, RGB, 360mm, Branco - CW-9060051-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.299,90</span>
                                <span class = "old-price">R$ 1.799,88</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/130923/water-cooler-lian-li-galahad-rgb-360mm-preto-ga-360b-black_1604691227_m.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Water Cooler Lian Li, Galahad, RGB, 360mm, Preto - GA-360B BLACK</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 999,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/130922/water-cooler-lian-li-galahad-rgb-360mm-branco-ga-360a-white_1604690830_m.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Water Cooler Lian Li, Galahad, RGB, 360mm, Branco - GA-360A WHITE</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 989,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/108802/water-cooler-corsair-icue-h150i-pro-xt-hydro-series-120mm-rgb-cw-9060045-ww_1577194978_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Water Cooler Corsair iCUE H150i PRO XT Hydro Series, 120mm, RGB - CW-9060045-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 919,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/113941/water-cooler-deepcool-castle-360rgb-v2-120mm-rgb-castle-360rgb-v2_1593439052_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Water Cooler DeepCool Castle 360RGB V2, 120mm, RGB - CASTLE 360RGB V2</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 899,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/113009/water-cooler-evga-all-in-one-360mm-3x120mm-rgb-400-hy-cl36-v1_1612983359_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Water Cooler EVGA CLC, 360mm (3x 120mm), Closed Loop CPU Cooler, AMD/Intel - 400-HY-CL36-V1</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 799,90</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>