<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>produtos</title>
    <link rel="stylesheet" href="hd.component.scss">
</head>
<body>
    <div class="body">
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "main-title">
                    <h1>HD</h1>
                </div>
                
                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a>HD</a></li>
                      </ul>
                    </div>

                <div class = "item-list">
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128257/hd-seagate-ironwolf-14tb-3-5-sata-st14000vn0008_1600440427_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate IronWolf 14TB, 3.5´, SATA - ST14000VN0008</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 4.847,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128254/hd-seagate-ironwolf-16tb-3-5-sata-st16000vn001_1600439000_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate Ironwolf, 16TB, 3.5´, SATA - ST16000VN001</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 4.599,90</span>
    
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128247/hd-seagate-skyhawk-12tb-3-5-sata-st12000ve0008_1600430678_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate SkyHawk, 12TB, 3.5´, SATA - ST12000VE0008</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.629,90</span>
                                <span class = "old-price">R$ 4.863,36</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128249/hd-seagate-skyhawk-16tb-3-5-sata-st16000ve000_1600432505_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate SkyHawk, 16TB, 3.5´, SATA - ST16000VE000</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 4.123,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128250/hd-seagate-ironwolf-nas-14tb-3-5-sata-st14000ne0008_1600436144_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate IronWolf NAS, 14TB, 3.5´, SATA - ST14000NE0008</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 3.670,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128256/hd-seagate-barracuda-8tb-3-5-sata-st8000dm004_1600452988_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate Barracuda, 8TB, 3.5´, SATA - ST8000DM004</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.369,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/128246/hd-seagate-skyhawk-8tb-3-5-sata-st8000ve000_1600427889_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate SkyHawk, 8TB, 3.5´, SATA - ST8000VE000</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.969,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/129150/hd-externo-seagate-1tb-usb-steb10000400_1614688642_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Externo Seagate Expansion Desktop 10TB, USB 3.0 - STEB10000400</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.829,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/84114/84114_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate Surveillance SkyHawk, 4TB, 3.5´, SATA - ST4000VX007</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 752,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/154215/hd-seagate-skyhawk-4-tb-7200-rpm-cache-256-mb-3-5-sata-st4000vx013_1620244590_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">HD Seagate Skyhawk, 4 TB, 5400 RPM, Cache 256 MB, 3.5´, SATA - ST4000VX013</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 730,90</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>


