<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>produtos</title>
    <link rel="stylesheet" href="ram.component.html">
</head>
<body>
    <div class="body">
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "main-title">
                    <h1>Memória RAM</h1>
                </div>

                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a>Memória RAM</a></li>
                  </ul>
                </div>

                <div class = "item-list">
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/172408/memoria-kingston-fury-beast-rgb-128gb-4x32gb-3000mhz-ddr4-cl16-preto-kf430c16bbak4-128_1626205778_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Kingston Fury Beast, RGB, 128GB (4x32GB), 3000MHz, DDR4, CL16, Preto - KF430C16BBAK4/128</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 4.799,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/111024/memoria-corsair-vengeance-rgb-pro-64gb-2x32gb-3200mhz-ddr4-c16-black-cmw64gx4m2e3200c16_1589977132_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Corsair Vengeance RGB Pro 64GB (2x32GB) 3200MHz DDR4 C16 Black - CMW64GX4M2E3200C16</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 3.099,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/132160/memoria-xpg-spectrix-d50-xtreme-16gb-2x8-ddr4-rgb-5000mhz-cl-19-28-28-ax4u500038g19m-dgm50x_1606139904_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória XPG Spectrix D50 Xtreme, 16GB (2x8), DDR4, RGB, 5000mhz, CL 19-28-28 - AX4U500038G19M-DGM50X</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.599,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/264717/memoria-kingston-fury-beast-32gb-4800mhz-ddr5-cl38-preto-kf548c38bbk2-32_1636661944_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Kingston Fury Beast, 32GB (2x16GB), 4800MHz, DDR5, CL38, Preto - KF548C38BBK2-32</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.599,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/172333/memoria-kingston-fury-beast-64gb-4x16gb-2666mhz-ddr4-cl16-preto-kf426c16bb1k4-64_1626192473_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Kingston Fury Beast, 64GB (4x16GB), 2666MHz, DDR4, CL16, Preto - KF426C16BB1K4/64</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.359,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/101651/101651_1557503121_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Corsair Dominator RGB, 32GB (4x8GB), 3600Hz, DDR4, C18, Preto - CMT32GX4M4C3600C18</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.159,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/104918/memoria-g-skill-trident-z-neo-rgb-32gb-2x16gb-3600mhz-ddr4-cl18-f4-3600c18d-32gtzn_memoria-g-skill-trident-z-neo-rgb-32gb-2x16gb-3600mhz-ddr4-cl18-f4-3600c18d-32gtzn_1570028513_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória G.Skill Trident Z Neo RGB, 32GB (2x16GB), 3600MHz, DDR4, CL18 - F4-3600C18D-32GTZN</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.859,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/108454/memoria-corsair-vengeance-rgb-pro-32gb-4x8gb-3200mhz-ddr4-cl16-cmw32gx4m4c3200c16_1575382677_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Corsair Vengeance RGB Pro, 32GB (4x8GB), 3200MHz, DDR4, CL16 - CMW32GX4M4C3200C16</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.499,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/110846/memoria-corsair-vengeance-lpx-32gb-4x8gb-3600mhz-ddr4-c18-black-cmk32gx4m4d3600c18_1590070709_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Corsair Vengeance LPX 32GB (4x8GB) 3600Mhz DDR4 C18 Black - CMK32GX4M4D3600C18</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.399,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/193657/memoria-kingston-fury-beast-rgb-32gb-2x16gb-3600mhz-ddr4-cl18-preto-kf436c18bbak2-32_1630613003_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Memória Kingston Fury Beast, RGB, 32GB (2x16GB), 3600MHz, DDR4, CL18, Preto - KF436C18BBAK2/32</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.349,90</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>




