<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>produtos</title>
    <link rel="stylesheet" href="gabinete.component.scss">
</head>
<body>
    <div class="body">
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "main-title">
                    <h1>Gabinete</h1>
                </div>
    
                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a>Gabinete</a></li>
                      </ul>
                    </div>

                <div class = "item-list">
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/100006/100006_1548788873_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer Corsair Obsidian Series 1000D, Super-Tower, RGB, Vidro Temperado, Preto - CC-9011148-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 4.099,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/210906/gabinete-gamer-corsair-7000x-rgb-full-tower-lateral-em-vidro-temperado-branco-cc-9011227-ww_1636559616_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer Corsair 7000X, RGB, Full Tower, Lateral em Vidro Temperado, Branco - CC-9011227-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.999,90</span>
    
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/152009/gabinete-gamer-asus-gr101-mini-tower-lateral-e-frente-em-vidro-temperado-preto-rog-z11-case-blk_1615903433_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer Asus GR101, Mini Tower, Lateral e Frente em Vidro Temperado, Preto - ROG Z11 CASE/BLK</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.399,90</span>
                                <span class = "old-price">R$ 2.842,00</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/100002/100002_1550608500_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer Corsair Crystal Series 680X, RGB, Preto - CC-9011168-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.899,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/110016/gabinete-gamer-nzxt-h700i-mid-tower-rgb-com-fan-lateral-em-vidro-preto-vermelho-ca-h710i-br_1581517630_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer NZXT H710i, Mid Tower, RGB, com FAN, Lateral em Vidro, Preto/Vermelho - CA-H710I-BR</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.699,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/113842/gabinete-gamer-nzxt-h710-full-tower-com-fan-lateral-em-vidro-ca-h710b-b1_1591366111_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer NZXT H710, Mid Tower, com FAN, Lateral em Vidro - CA-H710B-B1</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.699,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/110022/gabinete-gamer-nzxt-h510-elite-mid-tower-rgb-com-fan-lateral-e-frontal-em-vidro-branco-ca-h510e-w1_1581539235_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer NZXT H510 Elite, Mid Tower, RGB, com FAN, Lateral e Frontal em Vidro, Branco - CA-H510E-W1</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.599,90</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/110017/gabinete-gamer-nzxt-h710-mid-tower-com-fan-lateral-em-vidro-preto-vermelho-ca-h710b-br_1581521212_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer NZXT H710, Mid Tower, com FAN, Lateral em Vidro, Preto/Vermelho - CA-H710B-BR</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.599,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/100003/100003_1550658078_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer Corsair Crystal Series 680X, RGB, Branco - CC-9011169-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.599,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/100005/100005_1548785998_index_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Gabinete Gamer Corsair Obsidian Series 500D RGB SE Premium, Mid-Tower, 3 Fans, Vidro Temperado, Preto - CC-9011139-WW</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.385,90</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

