<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>produtos</title>
    <link rel="stylesheet" href="placa-mae.component.scss">
</head>
<body>
    <div class="body">
        <div class = "main-wrapper">
            <div class = "container">
                <div class = "main-title">
                    <h1>Placa-Mae</h1>
                </div>
    
                <div>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a>Placa-Mãe</a></li>
                      </ul>
                    </div>
    
                <div class = "item-list">
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/240600/placa-mae-asus-rog-maximus-z690-extreme-intel-1700-z690-ddr5-eatx_1635952118_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-mãe Asus ROG MAXIMUS Z690 EXTREME, Intel 1700 Z690, DDR5, EATX</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 9.999,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/240599/placa-mae-asus-rog-maximus-z690-formula-intel-1700-z690-ddr5-atx_1635964555_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-mãe Asus ROG MAXIMUS Z690 FORMULA, Intel 1700 Z690, DDR5, ATX</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 7.299,90</span>
    
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/240601/placa-mae-asus-rog-maximus-z690-apex-intel-1700-z690-ddr5-atx_1635957239_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-mãe Asus ROG MAXIMUS Z690 APEX, Intel 1700 Z690, DDR5, ATX</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 5.999,90</span>
                                <span class = "old-price">R$ 10.519,88</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/102572/placa-mae-asus-rog-crosshair-viii-formula-amd-am4-atx-ddr4_1564489222_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-Mãe Asus ROG Crosshair VIII Formula, X570, AMD AM4, ATX, DDR4</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 4.599,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/173460/placa-mae-gigabyte-aorus-master-x570s-rev-1-0-amd-socket-am4-atx-ddr4-led-rgb-wi-fi-bluetooth-x570s-aorus-master_1628024266_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-Mãe Gigabyte Aorus Master X570S (Rev. 1.0), AMD Socket AM4, ATX, DDR4, LED RGB, Wi-Fi, Bluetooth - X570S AORUS MASTER</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 3.899,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/114847/placa-mae-asrock-b550-taichi-amd-am4-atx-ddr4_1594901619_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-Mãe ASRock B550 Taichi, AMD AM4, ATX, DDR4</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.990,64</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/240587/placa-mae-asus-tuf-gaming-z690-plus-wifi-d4-intel-1700-z690-ddr4-atx-90mb18v0-m0eay0_1635972982_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-mãe Asus TUF GAMING Z690-PLUS WIFI D4, Intel 1700 Z690, DDR4, ATX - 90MB18V0-M0EAY0</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.699,90</span>
                                <span class = "old-price">R$ 10.519,88</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/214964/placa-mae-gigabyte-x570s-aorus-elite-rev-1-0-amd-am4-atx-ddr4-led-rgb-x570s-aorus-elite_1635001153_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa Mãe Gigabyte X570S Aorus Elite (rev. 1.0), AMD AM4, ATX, DDR4, LED RGB - X570S AORUS ELITE</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.399,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/240588/placa-mae-asus-prime-z690-p-wifi-intel-1700-z690-ddr5-atx-90mb1a90-m0eay0_1635961336_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-mãe Asus PRIME Z690-P WIFI, Intel 1700 Z690, DDR5, ATX - 90MB1A90-M0EAY0</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 2.299,90</span>
                            </div>
                        </div>
                    </div>

                    <div class = "item">
                        <div class = "item-img">
                            <img src = "https://images.kabum.com.br/produtos/fotos/113128/placa-mae-asrock-z490-pg-velocita-intel-lga-1200-atx-ddr4-_1594924428_gg.jpg" alt="imagem produto">
                        </div>
                        <div class = "item-detail">
                            <a href = "#" class = "item-name">Placa-Mãe ASRock Z490 PG Velocita, Intel LGA 1200, ATX, DDR4</a>
                            <div class = "item-price">
                                <span class = "new-price">R$ 1.999,90</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>



